{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <title>Steadfast</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <!-- Custom CSS -->
    <link href="{%  static 'css/style.min.css' %}" rel="stylesheet">
</head>

<body>
<div id="preloader">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>
    <div id="main-wrapper" >
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin6">
                    <a class="navbar-brand" href="#">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <img src="{%  static 'img/logo.jpg' %}" alt="homepage" class="dark-logo" />

                        </b>
                    </a>
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                        href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav d-none d-md-block d-lg-none">
                        <li class="nav-item">
                            <img src="{%  static 'img/logo.jpg' %}" alt="homepage" class="dark-logo" />
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto mt-md-0 ">

                        <li class="nav-item hidden-sm-down">
                            <form class="app-search pl-3">
                                <input type="text" class="form-control" placeholder="Search"> <a
                                    class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                    </ul>

                    
                    <ul class="navbar-nav">
                        
                        <li class="nav-item dropdown">
					
						<a  href=""><b class="user_name">{{ user.username }}</b></a>
					
						<a  href="logout/"><b class="user_logout">Logout</b></a>
			
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href=""><img src="{%  static 'img/user.png' %}"
                                    alt="user" class="profile-pic mr-2"></a>
								
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="page-wrapper">
            
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="page-title mb-0 p-0">Hi Athlete!</h3>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  
                                    <li class="breadcrumb-item active" aria-current="page">Your Orders...</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
					<div class="col-md-6 col-4 align-self-center">
                        <form>
						<div class="form-group">
                                 <select class="form-control-select" id="">
									<option>Year</option>
									<option>2020</option>
									<option>2019</option>
									<option>2018</option>
									<option>2017</option>
								  </select>
                        </div>
						</form>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table user-table no-wrap">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">Order No.</th>
                                                <th class="border-top-0">Product Name</th>
                                                <th class="border-top-0">Flavours</th>
                                                <th class="border-top-0">MRP</th>
												 <th class="border-top-0">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {{ orders }}
                                        {% for order in order_data %}
                                            <tr>
                                                <td>{{ order.id }}</td>
                                                <td>{{ order.title }}</td>
                                                <td>Vanilla</td>
                                                <td>RS. {{ order.final_value }} - {{ order.final_value }}</td>
												<td>{{ order.timestamp }}</td>
{#                                                <td>#SN1234</td>#}
{#                                                <td>Power Protein</td>#}
{#                                                <td>Vanilla</td>#}
{#                                                <td>RS.1600</td>#}
{#												<td>12-09-2020</td>#}
                                            </tr>
                                        {% endfor %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
							
                        </div>
						<div class="text-right upgrade-btn">
                            <a href="previous_order/"
                                class="btn btn-success d-none d-md-inline-block text-white" target="_blank">PREVIOUS PAGE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="col-md-6 col-4 align-self-center">
                        
                    </div>
    </div>
    <!--<script src="../assets/plugins/jquery/dist/jquery.min.js"></script>-->
    <!-- Bootstrap tether Core JavaScript -->
    <!--<script src="../assets/plugins/popper.js/dist/umd/popper.min.js"></script>-->
    <!--<script src="../assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>-->
    <!--<script src="js/app-style-switcher.js"></script>-->
    <!--Wave Effects -->
    <!--<script src="js/waves.js"></script>-->
    <!--Menu sidebar -->
    <!--<script src="js/sidebarmenu.js"></script>-->
    <!--Custom JavaScript -->
    <!--<script src="js/custom.js"></script>-->
</body>

</html>